<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoujixiufu"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".AboutUsActivity"
            android:exported="false"
            android:label="@string/about_us" />
        <activity 
            android:name=".LogoViewerActivity"
            android:exported="false" />
        <activity 
            android:name=".LoadingActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".AudioScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".CaseDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".CasesActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".ContactServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity 
            android:name=".FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".FileScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".OrderActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".ServiceAgreementActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".ScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity 
            android:name=".RecoveryReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SupervisionComplaintActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TransferActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".VideoRepairActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".VideoScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".ImageCropActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".ImageScaleActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
        <activity
            android:name=".FileSendActivity"
            android:exported="false"
            android:theme="@style/Theme.Shoujixiufu.NoActionBar" />
    </application>

</manifest>